<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message sent via nodejs</title>
</head>
<body>
   <form action="/sendmessage" method="post" style="display:flex">
    <label for="number">Number</label><br>
    <input type="text" name="number" id="number"><br>
    
    <label for="message">Message</label><br>
    <input type="text" name="message" id="message"><br>
  
<button type="submit">send message</button>

</form>
</body>
</html>